[defaults]
inventory = inventories/example/hosts.yml
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = yaml
forks = 10
retry_files_enabled = False

[ssh_connection]
pipelining = True
